body {
  @apply bg-twc_background
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

/*----------------  slick slider styles  ----------------*/
.slick-list, .slick-track {
  display: flex !important;
}

.slick-slide, .slick-slide > div {
  height: 100% !important;
}

.top-movers .slick-list {
  margin: 0 -7px;
}

.top-movers .slick-list .slick-slide > div {
  padding: 0 10px;
}
